@font-face {
	font-family: "Alice";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Alice.ttf);
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 20px 10px #141921;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #029eff71;
	border: 1px solid #0098a0b2;
}

.writing {
	width: 100%;
	max-width: 1000px;
	text-align: justify;
	text-justify: inter-word;
}

.writing h1 {
	text-align: center;
	font-size: 2.5rem;
	padding-bottom: 20px;
}

.writing p {
	width: 100%;
	padding-bottom: 10px;
	font-size: 18px;
}
