@font-face {
	font-family: "Alice";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Alice.ttf);
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 20px 10px #141921;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #029eff71;
	border: 1px solid #0098a0b2;
}

.writing {
	padding: 20px;
	width: 100%;
	max-width: 1000px;
	text-align: justify;
	text-justify: inter-word;
}

.writing a {
	color: #cea04a;
	/* text-decoration: none; */
}

.writing hr {
	margin: 20px auto;
	border-top: none;
	border-bottom: 1px solid #cea04a;
	width: 100%;
}

.writing h1 {
	text-align: center;
	font-size: 1.9rem;
	padding-bottom: 25px;
	line-height: 0.5;
}

.writing h2 {
	font-size: 1.6rem;
	padding: 20px 0px;
}

.writing h3 {
	font-size: 1.4rem;
	padding-bottom: 20px;
	text-align: right;
}

.writing p {
	width: 100%;
	padding-bottom: 10px;
	font-size: 1.2rem;
}

.writing blockquote {
	background-color: #cea04a15;
	width: 85%;
	margin: 20px auto;
	font-size: 1.3rem;
	border-left: 3px solid #cea04a;
	border-radius: 0px 10px 10px 0px;
	padding: 20px;
	/* color: #e0e0e0 */
}
